<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!--<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>-->
                Єдиний реєстр приватних виконавців
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/">Дім</a></li>

                <% if(role === 0){ %>
                    <li><a href="/login">Зайти в систему</a></li>
                <% } %>

                <% if(role === 0){ %>
                    <li><a href="/login">Зайти в систему</a></li>
                <% } %>

                <% if(role === 0){ %>
                    <li><a href="/login">Зайти в систему</a></li>
                <% } %>
                
                <% if(role === 0){ %>
                    <li><a href="/login">Зайти в систему</a></li>
                <% }else{ %>
                    <li><a href="/logout">Вийти</a></li>
                <% %>
            </ul>
        </div>

    </div>
</nav>