<!DOCTYPE html>
<html lang="en">
	<head>
	    <%- include('../partials/head', {role: role}) -%>
	</head>
	<body class="container">

		<header>
		    <%- include('../partials/header', {role}) -%>
		</header>

		<main>
			<div class="panel panel-default">
				<div class="jumbotron">
					Error: Permission denied!
				</div>
			</div>
		</main>

		<footer>
		    <%- include('../partials/footer', {role}) -%>
		</footer>

	</body>
</html>